<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ERROR 404</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='error.jpg') }}">
    </head>
    <body style=" background-image:url(/static/error-404.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;">
   <div class="card-body">
        <center>
            <h1><font COLOR="BLACK">ERROR 404</font></h1>
            
        </center>
    </body>
</html>